@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'GRACESMEWS';
    src: url('./assets/fonts/GRACESMEWS-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }  

body {
    @apply font-gracesmews;
    @apply tracking-tight;
}

/* Hide scrollbar for all browsers */
.scrollbar-hidden {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* IE 10+ */
  }
  .scrollbar-hidden::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
  }