@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'GRACESMEWS';
    src: url('./assets/fonts/GRACESMEWS-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }  

body {
    @apply font-gracesmews;
    @apply tracking-tight;
}