@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'GRACESMEWS';
  src: url('./assets/fonts/GRACESMEWS-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}  

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  @apply tracking-tight;
}

.font-gracesmews {
  font-family: 'GRACESMEWS', sans-serif;
}

/* Safari-only: fix bold appearance */
@supports (-webkit-touch-callout: none) {
  .font-gracesmews {
    font-weight: 400;
  }
}


/* Hide scrollbar for all browsers */
.scrollbar-hidden {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE 10+ */
}
.scrollbar-hidden::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

@keyframes flashFade {
  0%, 100% {
    color: black;
  }
  50% {
    color: white;
  }
}
  
.animate-flash-fade {
  animation: flashFade 2s ease-in-out infinite;
}